
		<h1>About Us</h1>
		<div class="clear"></div>
		<div class="bottomline"></div>
		<div class="clear"></div>
		<p>Welcome to Saga - The Boutique</p>
<p>Nalini Sharma prefers to let her designs speak for themselves.Nalini Sharma an acclaimed fashion designer has an eye for the elegance &amp; detail. Her work is designed for the practical urban women who wish to make a modern style statement through her look.
<br/>
Silk Crepe Georgette Chiffons Cottons as fabrics or readymades&nbsp;with speciality in tailor made cuts, colours and embroidery for every occasion be it Weddings, Party wear, formals, casuals Indian or Western wear its a one stop shop!</p>
